version: 2
updates:
- package-ecosystem: gomod
  cooldown:
    default-days: 7
  directory: "/"
  schedule:
    interval: daily
    time: "10:00"
  open-pull-requests-limit: 10
  target-branch: development
  groups:
    dev-dependencies:
      patterns:
        - "*"  # Include all dependencies by default